.parallax {
    background-image: url("./imgs/dark-paper-layers-wallpaper-with-golden-details_23-2148403401.webp"), linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    letter-spacing: 0.3em;
}


#content {
    background-color: #181818;
    box-sizing: border-box;
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
